.ldpp
  position: relative
  width: 640px
  height: 600px
  margin: auto
  overflow:hidden
  /* styling */
  border-radius: 5px
  box-shadow: 0 4px 8px rgba(0,0,0,.3)
  padding: 0

.ldpp
  position: relative
  width: 100%
  height: 100%

.ldpp .navbar
  position: absolute
  font-size: 18px
  z-index: 1
  top: 0
  left: 0
  padding: 30px 40px 25px
  margin-bottom: 20px
  border-bottom: 1px solid #eee
  background: #fff
  width: 100%
  .inner
    width: 100%
  .nav-link
    cursor: pointer
  .dropdown-toggle
    line-height: 1.6em
    border-radius: 0 5px 5px 0

.ldpp .palette
  text-align: left
  width: 280px
  display: inline-block
  margin: 0 10px 11px
  padding: 10px 10px 2px
  border: 1px solid transparent
  border-radius: 2px
  position: relative
  .ctrl
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,.5)
    color: rgba(255,255,255,.7)
    opacity: 0
    transition: opacity ease-in-out 0.2s
    text-align: center
    .btn
      margin-top: 1px
      line-height: 1.2em
    .fa
      font-size: 1.6em
      margin-top: 1px
    .desc
      font-size: 0.8em
  cursor: pointer
  &:hover .ctrl
    opacity: 1
  .name
    text-transform: capitalize
    margin-top: 3px
    font-size: 13px
    width: 100%
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    opacity: 0.9
  .colors
    box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 1px 1px rgba(0,0,0,.2)
    position: relative
    width: 100%
    height: 48px
    border-radius: 3px
    overflow: hidden
    display: flex
    flex-wrap: nowrap
  .color
    flex: 1 1 auto
    display: inline-block
    width: 32px
    height: 100%

for num in (1..3)
  .ldpp .panel:nth-child({num})
    transform: translate(100% * (num - 1),0)
.ldpp .panel[data-name=edit]
  .palette
    width: 90%
    margin: auto
    .colors
      height: 64px
    .name
      display: none
.ldpp .panels
  position: relative
  transition: transform 0.5s ease-in-out
  width: 100%
  height: 100%

.ldpp .panel
  position: absolute
  top: 0
  left: 0
  padding: 120px 10px 40px
  width: 100%
  height: 100%
  overflow: scroll
  &.active
    display: block

.ldpp .panel[data-panel=edit] .palette
  width: 100%
  margin: 10px 0 0
  padding: 0 20px 0
  .name
    display: none
  .colors
    height: 120px
    border: 1px solid #fff
    border-radius: 5px
    box-shadow: 0 2px 4px rgba(0,0,0,.2)
    overflow: visible
  .color:first-child
    border-radius: 5px 0 0 5px
  .color:last-child
    border-radius: 0 5px 5px 0
  .color
    transition: flex 0.3s ease-in-out
    position: relative
    &.dark .btns
      color: #fff
    .btns
      opacity: 0
      width: 20px
      margin: auto
      height: 100%
      text-align: center
      display: flex
      flex-direction: column
      justify-content: space-around
      color: #444
      .fa
        flex: 0 0 auto
        cursor: pointer
    &.active .btns
      opacity: 1
    &.active
      transform: scale(1.05)
      border-radius: 3px
      border: 2px solid #000
      box-shadow: inset 0 0 0 4px rgba(255,255,255,1), 0 2px 4px 0 rgba(0,0,0,0.3)
      z-index: 1
      position: relative
      &:after
        content: " "
        width: 20px
        height: 20px
        position: absolute
        bottom: 0
        transform: translate(-50%,50%) rotate(45deg)
        background: currentColor
        left: 50%
        display: block
        box-shadow: 2px 2px 2px rgba(0,0,0,.1)
        border-right: 2px solid rgba(0,0,0,.2)
        border-bottom: 2px solid rgba(0,0,0,.2)
        display: none


.ldpp .panel[data-panel=edit]
  .ldColorPicker
    width: 100%
    height: 200px
    display: inline-block
    vertical-align: top
    margin-top: 0
  .value
    margin: 15px 0 27px
  .edit
    text-align: left
    margin-top: 0
  .irs
    margin: -25px 0 20px
  .label-group
    position: relative
    input
      width: 40px
      height: 12px
      position: absolute
      top: 3px
      right: 0

.ldpp .config
  display: none
  &.active
    display: flex

