doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="assets/ldui/ldui.min.css")

    link(rel="stylesheet",type="text/css",href="ldpp.css")
    script(src="assets/ldui/ldui.min.js")

    link(rel="stylesheet",type="text/css",href="assets/clusterize/clusterize.css")
    script(src="assets/clusterize/clusterize.min.js")
  body
    include ldpp.pug
    style(type="text/css").
      #root {
        width: 640px;margin: auto;
      }
    #root.ldpp: .panels: .panel(data-panel="edit")
      +paletteEditor

    script(type="text/javascript",src="ldpp.palettes.js")
    script(type="text/javascript",src="ldpp.js")
    script(src="index.js")
    script(src="ldpe.js")
    script.
      var ldpe = new ldPaletteEditor({root: "#root"});
