doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0/4.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true, appleicon: true }
- var lib = { jquery: true, d3js: false, angular: false, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false, ionrangeslider: false, ldcolorpicker: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
- var fb = {}
- fb.app_id = ""
- fb.admins = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.pug
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")

    link(rel="stylesheet",type="text/css",href="assets/ldcolorpicker/1.0.0/ldcp.css")
    link(rel="stylesheet",type="text/css",href="ldpp.css")
    link(rel="stylesheet",type="text/css",href="assets/ldrs.min.css")
    script(src="assets/ldQuery/ldq.min.js")
    script(src="assets/ldrs.min.js")
    script(src="assets/ldcolor/0.0.1/ldColor.min.js")
    script(src="assets/ldcolorpicker/1.0.0/ldcp.js")
    link(rel="stylesheet",type="text/css",href="assets/ldcv/ldcv.min.css")
    script(src="assets/ldcv/ldcv.min.js")
    link(rel="stylesheet",type="text/css",href="assets/clusterize/clusterize.css")
    script(src="assets/clusterize/clusterize.min.js")

  body
    include ldpp.pug
    br
    h2 Palette Picker
    .text-center handy palette picker widget for curated palette list
    hr
    #root(style="padding-top: 30px")
      h3 Embedded Picker
      #container: +ldPalettePicker
      br
      hr
      br
      h3 Work with ldCover
      .btn.btn-primary(onclick="ldcv.toggle(true)") Toggle
      .ldcv: .base: .inner: +ldPalettePicker
    script(type="text/javascript",src="ldpp.palettes.js")
    script(type="text/javascript",src="ldpp.js")
    script(src="index.js")
